h1{
    font-family: 'Rochester', cursive;
}
.nav-item{
    color: white;
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 1em;   
} 

.product-row{
    padding-top:30px;
}

.card{
    height: 100%; 
  }

.card-img-top{
    padding: 20px;
    height: 200px;
    object-fit: cover;
}
.card-button{
    color: black;
    border-color: #CCCCCC;
    background-color: #F2A950;
    border-radius: 0px;
    margin-left: 25%;
    margin-right: 25%;
}

.checkout-button{
    font-size: 20px;
    color: white;
    background-color: #F2A950;
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

hr { width:100%; height:7px; background: black}


#cart{
    margin-left: 50px;
    padding-top: 1em;
    width: 50px;
    height: 50px;
}

#ItemCounter{
    margin-top: 25px;
}
#Banner{
    height: 400px;
    object-fit: cover;
}

#MenuHeaderContainer{
    border-color: white white black white ;
}

#ContactInfo{
    padding-top: 2em;
}

#CanelConfirmationBtn{
    margin-top: 1em;
}

#OrderContinueBtn{
    margin-top: 1em;
}

.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
 
.popup {
    width: 100%;
    max-width: 600px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
}
 
.popup a {
    background: salmon;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}